{% extends "base.html" %}

{% block content %}
<h1>{{ course }}</h1>

    <p>
        <table border="1">
            <thead>
                <tr>
                    <th>Student</th>
                    {% for subject in subjects %}
                    <th>{{ subject.name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for student in course.students %}
                <tr>
                    <td>{{ student }}</td>                    
                    {% for subject in subjects %}
                    <td><a href="/record/new/{{ student.id }}/{{ subject.id }}/">...</a></td>
                    {% endfor %}                    
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </p>
    <p>
        <a href="/courses/">courses</a>
    </p>
    <p>
        <a href="/">index</a>
    </p>
{% endblock %}