{% extends "base.html" %}

{% block content %}
<h1>{{ course }}</h1>

    <p>
        <table border="1">
            <thead>
                <tr>
                    <th>Student</th>
                    {% for subject in table.header %}
                    <th>{{ subject.name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table.body %}
                <tr>
                    <td>{{ row.student.name }}</td>                    
                    {% for mark in row.marks %}
                    <td><a href="/record/new/{{ row.student.id }}/{{ mark.subject.id }}/">{{ mark.mark }}</a></td>
                    {% endfor %}                    
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </p>
    <p>
        <a href="/course/list/">courses</a>
    </p>
    <p>
        <a href="/">index</a>
    </p>
{% endblock %}